@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="ResetPassword">
			@*Search For Action(ResetPassword) Work HttpPost at (AccountControllor)*@

			<input asp-for="NewPassword" placeholder="New Password">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input asp-for="ConfirmNewPassword" placeholder="New Confirm Password">
			<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Reset">
		</form>

	</div>
</div>

@section ValidationScriptSection
	{
	<partial name="_ValidationScriptsPartial" />
}


